/*스타일*/


#header {
    min-width: 1100px;
    height: 91px;
    background: #222;
}

#header .main-header {
    position: absolute;
    left: 0; 
    right: inherit;
    top: 80px;
    width: 100%;
    z-index: 100;
}

/* 메인 로고 */
#header .logo-title {
    position: absolute;
    left: 50%;
    top: 23px;
    width: 140px;
    height: 90px;
    margin: 0 0 0 -70px;
    padding: 0;
}

#header .util-area .left-link {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: .8667em;
}

#header .util-area .left-link a{
    float: left;
    margin-left: 20px;
    vertical-align: top;
}

#header .util-area .right-link {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: .8667em;
}

#header .util-area .right-link a{
    float: right;
    margin-right: 20px;
    vertical-align: top;
}

a:visited {
    color: #888;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:link {
    color: #444;
    text-decoration: none;
}
/* 0628.. */

#header .link-area a{
    display: block;
    position: absolute;
    top: 42px;
    width: 40px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    margin-left: 13px;
    margin-right: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* 0628.. */

/* nav */
#header .gnb-1 .gnb{
    float: left;
    text-decoration: none;
}

#header .gnb-1>.gnb>li {
    float: left;
    padding: 50px;
    text-decoration: none;
}

#header .gnb-1>.gnb>li ul {
    display: none;
    text-decoration: none;
}

#header .gnb-1>ul:hover {
    display: block;
    text-decoration: none;
}
/* #gnb-1>.gnb>li:hover{
    display: block;
} */

#header .gnb-2 .gnb2{
    float: right;
    text-decoration: none;
}

#header .gnb-2>.gnb2>li {
    float: right;
    padding: 50px;
    text-decoration: none;
}

#header .gnb-2>.gnb2>li.gnb22 ul {
    display: none;
    text-decoration: none;
}

#header .gnb-2>ul:hover{
    display: block;
    text-decoration: none;
}
/* #gnb-2>.gnb2>li:hover{
    display: block;
} */

/* 
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

/* footer */
/* #footer {
    position: relative;
    min-width: 1100px;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #f8f8fa;
}

#footer .footer-top{
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}

.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}

#footer .footer-top .fnb {
    float: left;
}

#footer .footer-top .fnb li:first-child {
    margin-left: 0;
}

#footer .footer-top .fnb li {
    float: left;
}

#footer .footer-top .fnb li a{
    display: block;
    color: #666;
    line-height: 30px;
    font-size: .8667em;
}

li{
    display: list-item;
    text-align: -webRit-match-parent;
} */
/* //footer */
body{
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: '돋움';
}

body.no-scroll #header.main-header {
    right:18px; 
    width:auto;
}